.fnc-ctn-txt-color {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.fnc-input-txt-color {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.fnc-label-txt-color {
  align-items: center;
  color: #90a1b9;
  display: flex;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  gap: 8px;
  margin: 8px;
}
