.fnc-title {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2px 0 0 2px;
}

.fnc-title:hover {
  cursor: pointer;
}
