/* ================= TABELA (RESTAURADO DO ORIGINAL) ================= */
.centraliza .table-wrapper {
  border-radius: 16px;
  border: 1px solid rgba(49, 65, 88, 0.5);
  overflow: auto;
  background: rgba(29, 41, 61, 0.7);
  max-height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.fnc-table-categorias {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 200px;
}
.centraliza table {
  width: 100%;
  border-collapse: collapse;
}

.fnc-ctn-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fnc-preview-name-cat {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.centraliza th {
  color: #62748e;
  font-size: 11px;
  text-align: center;
  padding: 12px;
}

.centraliza td {
  color: white;
  padding: 12px;
  text-align: center;
}

/* ================= CATEGORIA (RESTAURADO DO ORIGINAL) ================= */
.centraliza .categoria {
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 8px;
}

.centraliza .categoria p {
  margin: 0;
}

.centraliza {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-body {
  width: 100%;
  min-width: 300px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fnc-btn-edit-cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}
