.fnc-lbl {
  display: block;

  text-align: start;

  color: #90a1b9;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;

  margin-top: 2px;
}

.fnc-lbl-centerlize {
  display: block;

  text-align: center;

  color: #90a1b9;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;

  margin-top: 2px;
}
